<div class="center hero-unit">
  <%= image_tag "stolen_logo_large.png", :class => "pull-right" %>
  <h2>
    Welcome to the Personalized Learning experiment
  </h2>
  <p>
    run by Donghee Hong and Adrien Di Pasquale<br />
    for the Online Learning and Communication 2012 course at KAIST
  </p>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login %>
      <span class="inline-help"> This should have been provided to you by mail. If not, <a href="mailto:adrienpad@hotmail.com">contact us</a></span>
      <div>
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>