<h1><%= @task.new_record? ? "New Task" : "Edit task" %></h1>

<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', {object: @task} %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :step_id %>
  <%= f.collection_select :step_id, Step.all, :id, :name %>

  <div class="row-fluid">
    <div class="span6">
      <%= f.label :material %>
      <%= f.text_area :material, rows: 10, :class => "span12" %>
    </div>
    <div class="span6">
      <label>Material Preview</label>
      <div class="task_material alert alert-info"></div>
    </div>
  </div>

  <fieldset id="introns">
    <legend>Customizable parts</legend>

    <div class="row-fluid">
      <div class="span6 introns_container">
        <%= f.fields_for :introns do |intron_f| %>
          <div class="intron row-fluid <%= "with_initial_variations" if !intron_f.object.variations.empty? %>">
            <div class='trait span6'>
              <%= intron_f.label :trait_id, intron_f.object.slug %>
              <%= intron_f.collection_select :trait_id, Trait.all, :id, :name, :class => "intron_trait" %>

              <%= intron_f.hidden_field :id %>
              <%= intron_f.hidden_field :slug, :class => "intron_slug" %>
              <%= intron_f.check_box :_destroy, :class => "intron_destroy" %>
            </div>

            <div class="contents span6">
              <%= intron_f.label :traditional_content %>
              <%= intron_f.text_field :traditional_content %>
              <div class="variations">
                <%= intron_f.fields_for :variations do |variation_f| %>
                  <%= variation_f.label :content, variation_f.object.option.value %>
                  <%= variation_f.text_field :content %>
                  <%= variation_f.hidden_field :option_id %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="span6">
        <div class="alert alert-info">
          The customizable parts will appear as you type in the material.
          <br /><br />
          For example if you type <b>$years_old$</b>, a form with the slug <b>years_old</b>
          will appear letting you select the appropriate Trait, say <b>Age</b>
          <br /><br />
          To trigger processing of this form, please unfocus from the material
          textarea, that is click anywhere else on the page
        </div>
        <div class="alert alert-info">
          Additional fields will appear if you select a Trait that has multiple
          options. You can use these fields to enter customized variations for
          each option.
        </div>
      </div>
    </div>
  </fieldset>

  <%= render partial: "questions_fieldset", locals: { form_builder: f,
    with_choices_labels: false, with_correct_checkboxes: true } %>

  <div class="span6 offset3">
    <%= f.submit( (@task.new_record? ? "Create" : "Update"),
      :class => "btn btn-large btn-primary") %>
  </div>
<% end %>


  <div id="hidden_introns">
    <select id="prop_traits">
      <%= options_from_collection_for_select Trait.all, :id, :name %>
    </select>

    <div id="prop_variations">
      <% Trait.with_options.each do |trait| %>
        <div class="trait" data-id=<%= trait.id %>>
          <% trait.options.each do |option| %>
            <input type="hidden" class="option"
              data-id=<%= option.id %> data-value=<%= option.value %> />
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= javascript_tag do %>
    preview_traits = <%= raw @preview_traits.to_json %>
  <% end %>