<h1><%= @task.new_record? ? "New Task" : "Edit task" %></h1>

<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', {object: @task} %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :step_id %>
  <%= f.collection_select :step_id, Step.all, :id, :name %>

  <%= f.label :is_finalized %>
  <%= f.check_box :is_finalized %>

  <div class="row-fluid">
    <div class="span6">
      <%= f.label :material %>
      <%= f.text_area :material, rows: 10, :class => "span12" %>
    </div>
    <div class="span6">
      <label>Material Preview</label>
      <div class="task_material alert alert-info"></div>
    </div>
  </div>

  <fieldset id="exons">
    <legend>Personalizable parts</legend>

    <div class="row-fluid">

      <div class="span6 exons_container">
        <div id="exons_from_task">
          <%= f.fields_for :exons do |exon_f| %>
            <%= render partial: "exon_fields", locals: { form_builder: exon_f } %>
          <% end %>
        </div>
      </div>

      <div class="span6">
        <div class="alert alert-info">
          The customizable parts will appear as you type in the material.
          <br /><br />
          For example if you type <b>$years_old$</b>, a form with the slug <b>years_old</b>
          will appear letting you select the appropriate Trait, say <b>Age</b>
          <br /><br />
          To trigger processing of this form, please unfocus from the material
          textarea, that is click anywhere else on the page
        </div>
        <div class="alert alert-info">
          Additional fields will appear if you select a Trait that has multiple
          options. You can use these fields to enter customized variations for
          each option.
        </div>
      </div>
    </div>
  </fieldset>

  <%= render partial: "questions_fieldset", locals: { form_builder: f,
    with_choices_labels: false, with_correct_checkboxes: true } %>

  <div class="span6 offset3">
    <%= f.submit( (@task.new_record? ? "Create" : "Update"),
      :class => "btn btn-large btn-primary") %>
  </div>
<% end %>


  <!-- hidden exons containers -->
  <div id="hidden_exons_from_task" class="hide"></div>

  <div class="hide">
    <select id="prop_traits">
      <%= options_from_collection_for_select Trait.all, :id, :name %>
    </select>

    <div id="prop_variations">
      <% Trait.with_options.each do |trait| %>
        <div class="trait" data-id=<%= trait.id %>>
          <% trait.options.each do |option| %>
            <input type="hidden" class="option"
              data-id="<%= option.id %>" data-value="<%= option.value %>" />
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= javascript_tag do %>
    preview_traits = <%= raw @preview_traits.to_json %>
  <% end %>