<h1><%= @task.new_record? ? "New Task" : "Edit task" %></h1>

<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', {object: @task} %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :material %>
  <%= f.text_area :material %>

  <fieldset id="introns">
    <legend>Customizable parts</legend>

    <%= f.fields_for :introns do |intron_f| %>
      <div class="intron <%= "with_initial_variations" if !intron_f.object.variations.empty? %>">
        <%= intron_f.label :trait_id, intron_f.object.slug %>
        <%= intron_f.collection_select :trait_id, Trait.all, :id, :name, :class => "intron_trait" %>

        <%= intron_f.hidden_field :id %>
        <%= intron_f.hidden_field :slug, :class => "intron_slug" %>
        <%= intron_f.check_box :_destroy, :class => "intron_destroy" %>

        <div class="variations">
          <%= intron_f.fields_for :variations do |variation_f| %>
            <%= variation_f.label :content, variation_f.object.option.value %>
            <%= variation_f.text_field :content %>
            <%= variation_f.hidden_field :option_id %>
          <% end %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <fieldset id="questions">
    <legend>Questions</legend>
    <%= f.fields_for :questions do |question_f| %>
      <%= question_f.label :text, "question text" %>
      <%= question_f.text_field :text %>
      <% if !question_f.object.new_record? %>
        <%= question_f.check_box :_destroy %>
        <span class="help-inline">Destroy</span>
      <% end %>
      <label>Choices</label>
      <%= question_f.fields_for :choices do |choice_f| %>
        <%= choice_f.text_field :text %>
        <% if !choice_f.object.new_record? %>
          <%= choice_f.check_box :_destroy %>
          <span class="help-inline">Destroy</span>
        <% end %>
      <% end %>
    <% end %>
  </fieldset>

  <div>
    <%= f.submit( (@task.new_record? ? "Create" : "Update"),
      :class => "btn btn-large btn-primary") %>
  </div>
<% end %>


  <div id="hidden_introns">
    <select id="prop_traits">
      <%= options_from_collection_for_select Trait.all, :id, :name %>
    </select>

    <div id="prop_variations">
      <% Trait.with_options.each do |trait| %>
        <div class="trait" data-id=<%= trait.id %>>
          <% trait.options.each do |option| %>
            <input type="hidden" class="option"
              data-id=<%= option.id %> data-value=<%= option.value %> />
          <% end %>
        </div>
      <% end %>
    </div>
  </div>