<h1>Admin Home</h1>

<div class="row-fluid admin-page">

  <div class="span3">
    <h2> Users </h2>
    <ul>
      <% @users.each do |user| %>
        <li><i class="icon-user"></i>
          <%= link_to user.login, user %>
          (<%= link_to "delete", user, method: :delete,
            data: { confirm: "You sure 100% ?" } %>)
        </li>
      <% end %>
      <li> <a href="<%= new_user_path %>" class="btn">New user <i class="icon-user"></i></a></li>
    </ul>
  </div>

  <div class="span3">
    <h2> Traits </h2>
    <ul>
      <% @traits.each do |trait| %>
        <li><i class="icon-headphones"></i>
          <%= link_to trait.one_line_name, edit_trait_path(trait) %>
          <a href="<%= trait_path(trait) %>" data-confirm="You sure 100% ?"
            data-method="delete" rel="nofollow"><i class="icon-remove"></i></a>
        </li>
      <% end %>
      <li> <a href="<%= new_trait_path %>" class="btn">New trait <i class="icon-headphones"></i></a></li>
    </ul>
  </div>

  <div class="span3">
    <h2> Tasks </h2>
    <ul>
      <% @tasks.each do |task| %>
        <li><i class="icon-align-center"></i>
          <%= link_to task.name, edit_task_path(task) %>
          <a href="<%= task_path(task) %>" data-confirm="You sure 100% ?"
            data-method="delete" rel="nofollow"><i class="icon-remove"></i></a>
        </li>
      <% end %>
      <li> <a href="<%= new_task_path %>" class="btn">New task <i class="icon-align-center"></i></a></li>
    </ul>
  </div>

  <div class="span3">
    <h2> Questionnaires </h2>
    <ul>
      <% @questionnaires.each do |questionnaire| %>
        <li><i class="icon-question-sign"></i>
          <%= link_to questionnaire.name, edit_questionnaire_path(questionnaire) %>
          (<%= link_to "delete", questionnaire, method: :delete,
            data: { confirm: "You sure 100% ?" } %>)
        </li>
      <% end %>
      <li> <a href="<%= new_questionnaire_path %>" class="btn">New questionnaire <i class="icon-question-sign"></i></a></li>
    </ul>
  </div>

</div>
