<h1>Admin Home</h1>

<div class="row-fluid admin-page">

  <div class="span3">
    <h2> Users </h2>
    <ul>
      <% @users.each do |user| %>
        <li><i class="icon-user"></i>
          <a href="<%= user_path(user) %>"><%= user.login %> <i class="icon-eye-open"></i></a>
          <a href="<%= edit_user_path(user) %>"><i class="icon-edit"></i></a>
          <a href="<%= user_path(user) %>" data-confirm="Are you sure you want to delete this user ?"
            data-method="delete" rel="nofollow"><i class="icon-remove"></i></a>
        </li>
      <% end %>
      <li> <a href="<%= new_user_path %>" class="btn">New user <i class="icon-user"></i></a></li>
    </ul>
  </div>

  <div class="span3">
    <h2> Traits </h2>
    <ul>
      <% @traits.each do |trait| %>
        <li><i class="icon-headphones"></i>
          <%= trait.one_line_name %>
          <a href="<%= edit_trait_path(trait) %>"><i class="icon-edit"></i></a>
          <a href="<%= trait_path(trait) %>" data-confirm="Are you sure you want to delete this trait ?"
            data-method="delete" rel="nofollow"><i class="icon-remove"></i></a>
        </li>
      <% end %>
      <li> <a href="<%= new_trait_path %>" class="btn">New trait <i class="icon-headphones"></i></a></li>
    </ul>
  </div>

  <div class="span3">
    <h2> Tasks </h2>
    <ul>
      <% @tasks.each do |task| %>
        <li><i class="icon-align-center"></i>
          <a href="<%= task_path(task) %>"><%= task.name %> <i class="icon-eye-open"></i></a>
          <a href="<%= edit_task_path(task) %>"><i class="icon-edit"></i></a>
          <a href="<%= task_path(task) %>" data-confirm="You sure 100% ?"
            data-method="delete" rel="nofollow"><i class="icon-remove"></i></a>
        </li>
      <% end %>
      <li> <a href="<%= new_task_path %>" class="btn">New task <i class="icon-align-center"></i></a></li>
    </ul>
  </div>

  <div class="span3">
    <h2> Questionnaires </h2>
    <ul>
      <% @questionnaires.each do |questionnaire| %>
        <li><i class="icon-question-sign"></i>
          <a href="<%= questionnaire_path(questionnaire) %>"><%= questionnaire.name %> <i class="icon-eye-open"></i></a>
          <a href="<%= edit_questionnaire_path(questionnaire) %>"><i class="icon-edit"></i></a>
          <a href="<%= questionnaire_path(questionnaire) %>"
            data-confirm="Are you sure you want to delete this questionnaire ?"
            data-method="delete" rel="nofollow"><i class="icon-remove"></i></a>
        </li>
      <% end %>
      <li> <a href="<%= new_questionnaire_path %>" class="btn">New questionnaire <i class="icon-question-sign"></i></a></li>
    </ul>
  </div>

</div>
