<h1><%= @trait.new_record? ? "New trait" : "Edit trait" %></h1>

<%= form_for(@trait) do |f| %>
  <%= render 'shared/error_messages', {object: @trait} %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <fieldset>
    <legend>Options</legend>

    <%= f.fields_for :options do |opt_f| %>
      <div>
        <%= opt_f.text_field :value %>
        <% if !opt_f.object.new_record? %>
          <%= opt_f.check_box :_destroy %>
          <span class="help-inline">Destroy</span>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <div>
    <%= f.submit( (@trait.new_record? ? "Create" : "Update"),
      :class => "btn btn-large btn-primary") %>
  </div>
<% end %>