<h1>New Trait</h1>

<%= form_for(@trait) do |f| %>
  <%= render 'shared/error_messages', {object: @trait} %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>