<h1><%= @user.new_record? ? "New user" : "Edit user" %></h1>

<div class="row-fluid">
  <div class="span12">
    <%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>

      <%= render 'shared/error_messages', {object: @user} %>

      <div class="control-group">
        <%= f.label :login, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :login %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :material_type, :class => "control-label" %>
        <div class="controls">
          <%= f.select :material_type, %w(traditional personalized) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :step_id, "Current step", :class => "control-label" %>
        <div class="controls">
          <%= f.collection_select :step_id, Step.all, :id, :name %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit( (@user.new_record? ? "Create" : "Update"),
            :class => "btn btn-large btn-primary") %>
        </div>
      </div>

    <% end %>
  </div>
</div>
