<h1> Questionnaire </h1>

<%= form_for(current_user, url: answer_questionnaire_user_path(current_user)) do |f| %>
  <% @questionnaire.questions.each.with_index do |question, idx| %>
    <div class="row-fluid questionnaire_row">
      <div class="span8">
        <h4><%= "Q#{idx + 1}. #{question.text}" %></h4>
        <%= f.fields_for :answers, @answers[question.id] do |answer_f| %>
          <% if question.choices.empty? %>
            <%= answer_f.text_area :text, :class => "span12", rows: 5 %>
            <%= answer_f.hidden_field :question_id %>
          <% else %>
            <div class="answer_box">
              <%= answer_f.object.choice.text %>
              <br />
              <%= answer_f.check_box :keep_or_create %>
              <br />
              <%= answer_f.object.choice.label %>
              <%= answer_f.hidden_field :choice_id %>
              <%= answer_f.hidden_field :question_id %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row-fluid answer_task_submit">
    <div class="span8">
      <%= hidden_field :questionnaire, :id %>
      <%= f.submit( "Submit", :class => "btn btn-large btn-primary pull-right") %>
    </div>
  </div>

<% end %>