<header class="navbar">
  <div class="navbar-inner <%= current_user.step.name if current_user %>">
    <div class="container-fluid">
      <a href="<%= root_path %>" id= "logo" class="brand">
        <%= image_tag("stolen_logo_40.png") %>
        Personalized Learning
        <span class='step'>
          <%= "<#{current_user.step.name}>" if current_user %>
        </span>
      </a>
      <nav>
        <% if signed_in? %>
          <ul class="nav pull-right">
              <% if current_user.is_admin? %>
                <li><a href="<%= admin_path %>">
                  <i class="icon-leaf icon-white"></i>Admin Home</a>
                </li>
              <% else %>
                <li><a href="<%= home_path %>">
                  <i class="icon-home icon-white"></i>My Home</a>
                </li>
                <li><a href="<%= edit_traits_user_path(current_user) %>">
                  <i class="icon-user icon-white"></i>My Profile</a>
                </li>
              <% end %>
              <li><a href="<%= signout_path %>" data-method="delete" rel="nofollow">
                <i class="icon-off icon-white"></i>Sign out</a>
              </li>
          </ul>
          <p class="navbar-text pull-right">Hello
            <span class="user_login">
              <%= current_user.login %> <%= " (admin)" if current_user.is_admin? %>
            </span>
          </p>
        <% end %>
      </nav>
    </div>
  </div>
</header>