<header class="navbar <%= "user_connected" if signed_in? %>">
  <div class="navbar-inner step_<%= current_user.step.order if signed_in? %>">
    <div class="container-fluid">
      <div>
        <a href="<%= root_path %>" id= "logo" class="brand">
          <%= image_tag("stolen_logo_40.png") %>
          Personalized Learning
          <span class='step'>
            <%= "<#{current_user.step.name}>" if current_user %>
          </span>
        </a>
        <nav>
          <% if signed_in? %>
            <ul class="nav pull-right">
                <% if current_user.is_admin? %>
                  <li><a href="<%= admin_path %>">
                    <i class="icon-leaf icon-white"></i>Admin Home</a>
                  </li>
                <% else %>
                  <li><a href="<%= home_path %>">
                    <i class="icon-play icon-white"></i>Resume Experiment</a>
                  </li>
                  <li><a href="<%= edit_traits_user_path(current_user) %>">
                    <i class="icon-user icon-white"></i>My Profile</a>
                  </li>
                <% end %>
                <li><a href="<%= signout_path %>" data-method="delete" rel="nofollow">
                  <i class="icon-off icon-white"></i>Sign out</a>
                </li>
            </ul>
            <p class="navbar-text pull-right">Hello
              <span class="user_login">
                <%= current_user.login %> <%= " (admin)" if current_user.is_admin? %>
              </span>
              !
            </p>
          <% end %>
        </nav>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</header>

<% if signed_in? %>
  <div class="container-fluid breadcrumbs-wrapper">
    <div class="breadcrumbs">
      <ul>
        <% Step.all.each do |step| %>
          <li class="step_<%= step.order %> <%= "selected" if current_user.step == step %>">
            <div class="triangle"></div>
            <div class="content"><%= step.name %></div>
          </li>
        <% end %>
    </div>
  </div>
<% end %>