<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="<%= root_path %>" id= "logo" class="brand">
        <%= image_tag("stolen_logo.png") %>
        Personalized Learning
      </a>
      <nav>
        <% if signed_in? %>
          <ul class="nav pull-right">
              <% if current_user.is_admin? %>
                <li><%= link_to "Admin",    admin_path %></li>
              <% else %>
                <li><%= link_to "Tasks",    tasks_path %></li>
                <li><%= link_to "My Profile", edit_user_path(current_user) %></li>
              <% end %>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
          <p class="navbar-text pull-right">Hello
            <span class="user_login">
              <%= current_user.login %> <%= " (admin)" if current_user.is_admin? %>
            </span>
          </p>
        <% end %>
      </nav>
    </div>
  </div>
</header>